<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>gamab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
   <session-timeout>2</session-timeout>
</session-config>

<error-page>
	<error-code>404</error-code>
	<location>/error.jsp</location>
</error-page>

<error-page>
	<error-code>403</error-code>
	<location>/error.jsp</location>
</error-page>

<error-page>
	<error-code>405</error-code>
	<location>/error.jsp</location>
</error-page>

<error-page>
	<error-code>500</error-code>
	<location>/error.jsp</location>
</error-page>

<servlet>
	<servlet-name>DisplayProfileServlet</servlet-name>
	<servlet-class>com.aion.servlets.DisplayProfileServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DisplayProfileServlet</servlet-name>
	<url-pattern>/AIONProfile</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>GetCartProductsServlet</servlet-name>
	<servlet-class>com.aion.servlets.GetCartProductsServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>GetCartProductsServlet</servlet-name>
	<url-pattern>/CartProducts</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SearchProductServlet</servlet-name>
	<servlet-class>com.aion.servlets.SearchProductServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>SearchProductServlet</servlet-name>
	<url-pattern>/Search</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DisplayProductServlet</servlet-name>
	<servlet-class>com.aion.servlets.DisplayProductServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DisplayProductServlet</servlet-name>
	<url-pattern>/Display</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>GetProductServlet</servlet-name>
	<servlet-class>com.aion.servlets.GetProductServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>GetProductServlet</servlet-name>
	<url-pattern>/Product</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AdminServlet</servlet-name>
	<servlet-class>com.aion.servlets.AdminServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AdminServlet</servlet-name>
	<url-pattern>/ProductManagement</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>EditProductServlet</servlet-name>
	<servlet-class>com.aion.servlets.EditProductServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>EditProductServlet</servlet-name>
	<url-pattern>/EditProduct</url-pattern>
</servlet-mapping>
	
</web-app>